.show-info__icon-arrow {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.icon-a-plus {
    background: none;
    font-weight: 600;
    color: #54FF02;
    font-size: 14px;
    line-height: 1;
}

.icon-a {
    background: none;
    font-weight: 600;
    color: #B3FF3A;
    font-size: 14px;
    line-height: 1;
}

.icon-b,
.icon-b-green {
    background: none;
    font-weight: 600;
    color: #E1FB01;
    font-size: 14px;
    line-height: 1;
}

.icon-c {
    background: none;
    font-weight: 600;
    color: #FCE801;
    font-size: 14px;
    line-height: 1;
}

.icon-d {
    background: none;
    font-weight: 600;
    color: #FFC11E;
    font-size: 14px;
    line-height: 1;
}

.icon-e {
    background: none;
    font-weight: 600;
    color: #FF9A01;
    font-size: 14px;
    line-height: 1;
    margin-right: 5px;
}

.icon-f {
    background: none;
    font-weight: 600;
    color: #FF0301;
    font-size: 14px;
    line-height: 1;
}

.vehicle-rating__info-value {
    width: initial;
    height: initial;
}

.vehicle-rating__info-list .icon-a-plus {
    -webkit-transform: translateX(5px);
    transform: translateX(5px)
}

.sub_final,
.btn-buy {
    display: block;
    margin: 0 auto;
}

#state-2 .btn-counter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #C9C9C9;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 2px;
}

#state-2 .choose-place__box-middle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.last-text,
.choose-place__last-text {
    width: 100%
}

.btn-minus,
.btn-plus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.btn-minus span {
    height: auto;
    line-height: 1;
    margin-top: -7px;
}

.form_point_block {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.form_point_block > div,
.form_point_block > div {
    margin: 0 30px;
}

.choose-place__bottom-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.last-sold__box-info {
    min-height: initial;
    height: 100px;
}

.last-sold__picture-env {
    height: 100% !important;
    width: 134px;
}

.last-sold__picture-env .picture-env {
    height: 100% !important;
}

.last-sold__column-info {
    width: calc(100% - 134px) !important;
    padding-top: 5px;
}

.last-sold__title {
    margin-bottom: 3px;
}

.last-sold__sub-info {
    padding-bottom: 5px;
}

.last-sold__list-info {
    padding-bottom: 5px;
}

.banners-hidden,
.sale-hidden {
    display: none;
}

.featured-env__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.featured-env {
    padding: 0 10px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.featured-env__column {
    padding: 0;
    width: calc(50% - 5px);
}

.justify-fix .featured-env__column,
.justify-fix .adversting-box {
    margin: 0 5px;
}

.justify-fix {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.adversting-box {
    padding-left: 0;
    padding-right: 0;
    margin: 0 5px;
}

#state-3 .choose-place__button-back {
    top: 15px;
}

.lot-head {
    margin-top: 15px;
}

.tooltipster-info:before {
    font-weight: 400;
}

.elipsis-text {
    width: 100%;
    text-overflow: ellipsis;
}

.ellip {
  display: block;
  height: 100%;
}

.ellip-line {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: 100%;
}

.ellip,
.ellip-line {
  position: relative;
  overflow: hidden;
}

.tooltipster-sidetip .tooltipster-box {
    background: #ECF4FF;
    border: 2px solid #125DCE;
    border-radius: 0;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border {
    border-bottom-color: #125DCE;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background {
    border-bottom-color: #ECF4FF;
}

.tooltipster-sidetip .tooltipster-content {
    font-size: 12px;
    font-weight: 400;
    color: #000;
}

.copart-bid-wrap {
    position: relative;
}

.subscribe-span {
    width: 100%!important;
    padding: 0 10px;
    font-weight: 400!important;
}

.copart-bid-wrap .vehicle-rating__info {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 19px!important;
    height: 19px;
}

.not-premium .copart-btn-wrap {
    min-height: 236px;
}
.not-premium .time-wrap {
    margin-right: 98px
}

@media only screen and (max-width: 1439px) {
    .last-sold__column {
        width: 340px;
    }

    .adversting-box {
        height: 300px;
        width: 300px;
    }

    .hide-adversting {
        display: none;
    }
    .subscribe-wrap span {
        width: 50%;
    }
    .subscribe-wrap b {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    .last-sold__column {
        padding-left: 0;
        padding-right: 0;
        margin: 0 20px;
    }

    .last-sold__column:last-child {
        margin-left: 120px;
    }

    .adversting-box {
        height: 250px;
    }

    .vehicle-rating {
        min-height: initial;
        height: 250px;
    }

    .vehicle-tablet {
        height: 260px;
    }

    .banners-hidden {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-bottom: 10px;
    }

    .featured-env__column {
        padding: 0;
        margin-right: 15px;
        width: 300px;
    }

    .featured-env__box-info {
        min-height: initial;
        height: 250px;
    }

    .featured-env__title {
        padding-bottom: 5px;
    }
}

@media only screen and (max-width: 992px) {
    .last-sold__column:last-child {
        margin-left: 0;
    }

    .featured-env__column {
        width: 300px;
        margin: 0 5px 10px;
    }

    .sale-hidden {
        display: block;
    }

    .featured-env__row {
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .vehicle-tablet .vehicle-rating {
        width: 100%;
    }
    .vehicle-tablet .tablet-col-x3 {
        display: none;
    }
    
}

@media only screen and (max-width: 768px) {
    .last-sold__column:last-child {
        margin-left: 20px;
        margin-top: 10px;
    }
    .adversting-box {
        padding: 0;
    }
    .featured-env__address-list {
        width: 65%;
    }
    .adversting-show {
        display: none;
    }
    
}

@media only screen and (max-width: 600px) {
    .not-premium .copart-btn-wrap {
        min-height: auto;
    }
    .not-premium .time-wrap {
        margin-right: 0
    }

}

@media only screen and (max-width: 576px) {
    .last-sold__column {
        width: 100%;
    }

    .last-sold__wrapper {
        padding: 0 20px;
    }

    .last-sold__column {
        margin: 0;
    }

    .last-sold__column:last-child {
        margin-left: 0;
    }
    .featured-env__row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .sale-hidden {
        display: none;
    }
    .featured-env__column {
        width: 100%;
    }
    .vehicle-rating, .vehicle-tablet {
        height: auto;
    }
    .vehicle-rating__words span {
         -webkit-transform: rotate(90deg);
         transform: rotate(90deg)
    }
    .choose-place__button-back:before {
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    } 
    .choose-place__button-back { 
        width: 30px;
        height: 30px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .choose-place__button-back span {
        display: none;
    }
    .form_point_block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .choose-place__btn-counter {
        margin-bottom: 10px!important;
    }
    .choose-place__bottom-column {
        height: 105px;
    }
}

@media only screen and (max-width: 375px) {
    .last-sold__picture-env {
        width: 110px;
        padding: 9px 0;
    }
    .last-sold__column-info {
        width: calc(100% - 110px)!important;
    }
}

@media only screen and (max-width: 320px) {
    .last-sold__picture-env {
        width: 70px;
        padding: 24px 0;
    }
    .last-sold__column-info {
        width: calc(100% - 70px)!important;
    }
}